.custom-btn {
width: 112px;
height: 40px;
flex-shrink: 0;
color:#8064A2;
border:2px solid #8064A2;
  }
.logo{
    width:200px
}
.padding{
    padding-left:500px;
}
li{
    padding-left:3px;
    padding-right:3px;
}
.srch{
    background-color: #8064A2;
    border-radius:8px;
}
a{
    text-decoration:none;
}
.custom-box1{
    border:2px solid #8064A2;
}
.custom-box2{
    border:2px solid #77933C;
}
.custom-box3{
    border:2px solid #C0504D;
}
.custom-box4{
    border:2px solid #0096C8;
}


.custom-box1:hover {
    background-color: #8064A2; 
    color:white;
}
.custom-box2:hover {
    background-color: #77933C; 
}
.custom-box3:hover {
    background-color: #C0504D; 
}
.custom-box4:hover {
    background-color: #0096C8; 
}
